body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #484848;
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}


.outline {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    height:50vh;
    width:20vw;
    margin:20px;
    padding:10px;
    background-image:url('Missoula.jpg');
    background-repeat:no-repeat;
}

.front1 {
    width: 20%;
    height: 50%;
    margin: 20px;
}